<div>
    <h1>Er is een nieuwe periode beschikbaar</h1>
    <p>Periode "{{ period.name }}" is aangemaakt, klik <a href="http://127.0.0.1:8000/periods/accept/{{ period.id  }}">hier</a> om deze te bevestigen </p>
</div>